.All {
  background-color: white;
}

.allBlur {
  background-color: white;
  position: relative;
  width: 100%;
  height: 100vh;
  /* Set the height according to your layout */
  filter: blur(5px);
  /* Apply blur to the background image */
}
